.camera-frame-class {
  position: fixed;
  top: 0; left: 0; right:0;
  margin-left: auto; margin-right: auto;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
  z-index: -1;
  overflow-y:visible
}

.big-red-button {
  background-color: red;
  border: 1px solid red; /* Green */
  color: white;
  font-weight: bold;
  border-radius: 12px;
  margin: 10px;
  padding: 5px;
}
